<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Code Editor</title>
</head>
<body onload="LoadPage()">
    <div class="navbar">
        <img class="main_logo" src="/logo-night.png">
        <button class="run_button" id="run" onclick="myFunction(event)"><i class="fas fa-caret-right logo-run"></i></button>
        <button class="theme_button" id="theme"><i class="fas fa-sun logo-theme"></i></button>
     </div>
     <div class="editor" onresize="Output_element_resize()" id="editor_element">
        <div class="html_box">
            <div class="elem_nav">
                <h3 class="heading_name">HTML</h3>
            </div>
           
            <div class="html_editor" id="first_editor"></div>
            <div class="bottom_level"></div>
        </div>
        <div class="css_box">
            <h3 class="heading_name">CSS</h3>
            <div class="css_editor" id="sec_editor"></div>
            <div class="bottom_level"></div>
        </div>
        <div class="js_box">
            <h3 class="heading_name">JS</h3>
            <div class="js_editor" id="third_editor"></div>
            <div class="bottom_level"></div>
        </div>
        
     </div>
     <iframe id="out_elem" src="/answer" class="output">

     </iframe>
     <form id="myForm" action="/answer" method=POST>

     </form>
     <textarea form ="myForm" class="html_output" name="html" id="output_html"></textarea>
<textarea form ="myForm" class="css_output" name="css" id="output_css"></textarea>
<textarea form ="myForm" class="js_output" name="js" id="output_js"></textarea>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/script.js"></script>
</html>