<div id="nav" class="navbar">
    <img class="logo" src="/logo-night.png">
    <div  class="nav-contents">
            <a style="text-decoration: none;color:white;font-family: 'Poppins', sans-serif;" href="/">Home</a>
           <button class="log_in"><a style="text-decoration: none;color:white;" href="/login">Log in</a></button>
           <button class="sign_up"><a style="text-decoration: none;color:white" href="/register">Sign up</a></button>
    </div>
    <div  class="responsive-nav-butt">
    
     <button id="res_nav" style="border:none;" onclick="responsive()" class="log_in"><i class="fa-solid fa-bars"></i></button>
     
   </div>
</div> 
    <div id="nav-long" class="navbar-long">
      <button id="res_nav"  onclick="nav_close()"><i class="fa-solid fa-xmark"></i></button>
      <img style="height:auto;width:200px" src="/logo-night.png">
      <div class="nav-contents-long">
              <a style="text-decoration: none;color:white;font-family: 'Poppins', sans-serif;" href="/">Home</a>
             <button class="log_in" ><a style="text-decoration: none;color:white;" href="/login">Log in</a></button>
             <button class="sign_up" ><a style="text-decoration: none;color:white" href="/register">Sign up</a></button>
      </div>
    </div> 