<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<title>Register Page</title>
<style>
 
</style>
</head>
<body>
  <%- include('navbar.ejs') %>

  <div class="container">
    <h2>Register</h2>
    <form action="#" method="POST"  onsubmit="return validateForm()">
    <div class="input-group">
            <input type="text" id="username" name="name" required>
            <label for="name">Name</label>
    </div>
    <div class="input-group">
            <input type="text" id="username" name="username" required>
            <label for="username">Username</label>
    </div>
    <div class="input-group">
        <input type="email" id="username" name="email" required>
        <label for="email">Email</label>
    </div>
    <div class="input-group">
      <input type="tel" id="mobileNumber" name="mobileNumber" required
      pattern="[0-9]{10}" maxlength="10"
        name="phone">
        <label for="phone">Phone</label>
    </div>
    <div class="input-group">
        <input type="password" id="password" name="password" required>
        <label for="password">Password</label>
    </div>
    <div class="input-group">
        <input type="password" id="confirmPassword" name="conf_password" required>
        <label for="confirm password">Confirm Password</label>
    </div>
    <p id="passwordError"></p>
      <button type="submit" class="btn">Register</button>
    </form>
  </div>
</body>
<script>
 document.getElementById('mobileNumber').addEventListener('input', function () {
            var input = this.value;
            if (/^[0-9]+$/.test(input)) {
              
            } else {
               
                this.value = input.replace(/[^0-9]/g, ''); // Remove non-numeric characters from the input
            }
        });

        function validateForm() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
            var passwordError = document.getElementById('passwordError');

            if (password !== confirmPassword) {
                passwordError.textContent = "Passwords do not match.";
                return false; // Prevent form submission
            } else {
                passwordError.textContent = "";
                return true; // Allow form submission
            }
        }
  function responsive(){

   
          document.getElementById('nav-long').style.display='flex'
          document.getElementById('nav').style.visibility='hidden'
         
 


// Unlock scroll


// Prevent the default scroll behavi


  }
 
  function nav_close(){

   
document.getElementById('nav-long').style.display='none'
document.getElementById('nav').style.visibility='visible'

lockScroll()


// Unlock scroll


// Prevent the default scroll behavi


}
 
</script>
</html>
